<ion-view view-title="Records">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="item one">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="item two">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="item three">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="item four">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="item five">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
      </label>
      <button class="button button-full button-positive">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>
